/*NAVBAR*/
.navbarIcon{
	width: 60px;
    height: 50px;
}

.logoNav{
	width: 60px;
    height: 60px;
}

.fotoNav{
	width: 60px;
    height: 60px;
    border-radius: 50%;
}

.nomeNav{
	margin-right: 15px;
}
/*FIM NAVBAR*/

/*BODY*/
.corSite{
	background-color: rgb(85, 85, 255);
}


.linkCardNoticia{
	text-decoration: none;
}

.container-fluid{
	padding: 0;
}

h1{
	padding-top: 5px;
	
}

img{
	width: 100%;
	height: 100%;
}

#info_noticia{
	height: 75%;
}

#excluir_vaga{
	width: 1000px;
}
/*FIM BODY*/

/*FOOTER*/
#footer{
	margin-top: 60px;
}
#frase_footer{
	margin-bottom: 0;
}

#slogan{
	padding-bottom: 5px;
}
/*FIM FOOTER*/
